@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./fonts/Gilroy-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Nekst-Black';
  src: url('./fonts/Nekst-Black.woff2') format('woff2');
}
