// for debug
* {
  // box-sizing: border-box;
  // outline: 1px solid lightseagreen !important;
  // background: rgba(141, 234, 255, 0.1);
}

body {
  font-family: $font-default;
  font-size: $font-size-medium;
  color: $text-color-default;
  background-color: $bg-color;
}

h1 {
  font-size: $font-size-huge;
  color: $text-color-accent;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  background: $bg-color;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
