$font-accent: 'Nekst-Black', sans-serif;
$font-default: 'Gilroy-Regular', sans-serif;

$font-size-huge: 54px;
$font-size-big: 30px;
$font-size-medium: 20px;
$font-size-small: 16px;

$white-color: #ffffff;
$white-color-2: #fdfcf7;
$black-color: #111111;
$gray-color: #333333;
$gray-color-2: #575757;
$gray-color-3: #e1e1e1;
$gray-color-4: #f3f3f4;
// $gray-color-2: rgba(87, 87, 87, 0.4);
$orange-color: #ff9514;
$orange-color-2: rgba(255, 149, 20, 0.4);

$bg-color: $white-color;
$text-color-accent: $black-color;
$text-color-default: $gray-color;
// $text-color-inactive: $gray-color-2;
$btn-color-active: $orange-color;
$btn-color-inactive: $orange-color-2;
$btn-color-hover: $black-color;
$btn-color-pressed: $gray-color-2;

// vars for custom media query MIXINS

// value and higher
// Small tablets and large smartphones (landscape view)
$screen-xs-min: 0px;
// Small tablets (portrait view)
$screen-sm-min: 320px;
// Tablets and small desktops
$screen-md-min: 768px;
// Large tablets and desktops
$screen-lg-min: 1024px;
// Big screens
$screen-xl-min: 1440px;
// Very big screens (~2k resolution)
$screen-xxl-min: 1800px;

// Customization Bootstrap grid vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 1.5rem;
$grid-columns: 12;
// value and higher
$grid-breakpoints: (
  xs: $screen-xs-min,
  sm: $screen-sm-min,
  md: $screen-md-min,
  lg: $screen-lg-min,
  xl: $screen-xl-min,
  xxl: $screen-xxl-min,
);
// 95% from breakpoints values
$reduce-multiplier: 0.95;
$container-max-widths: (
  sm: $screen-sm-min * $reduce-multiplier,
  md: $screen-md-min * $reduce-multiplier,
  lg: $screen-lg-min * $reduce-multiplier,
  xl: $screen-xl-min * $reduce-multiplier,
  xxl: $screen-xxl-min * $reduce-multiplier,
);

$gutter: $grid-gutter-width;
