@import '../../scss/index.custom';

.tmp {
  //   font-family: $font-accent;
  font-family: $font-default;

  //   font-size: $font-size-huge;
  //   font-size: $font-size-big;
  font-size: $font-size-medium;

  //   color: $text-color-accent;
  color: $text-color-default;
}
