@import '../../scss/index.custom';

.btn {
  position: relative;
  padding: 18px 10px;
  min-height: 65px;
  max-height: 65px;
  min-width: 100px;
  border-radius: 50px;
  background-color: $orange-color;
  color: $white-color;
  font-family: $font-accent;
  font-size: $font-size-big;
  font-weight: normal;
  transition: background-color 0.2s;
  align-items: center;
  vertical-align: middle;

  &.small {
    min-height: 45px;
    max-height: 45px;
    min-width: 80px;
    font-size: $font-size-medium;
    padding: 10px 10px;

    @include sm {
      padding: 4px 10px;
      min-height: 30px;
      max-height: 30px;
      min-width: 60px;
      font-size: $font-size-xs;
    }
  }

  &.medium {
  }
  &.big {
  }

  @include xl {
    font-size: $font-size-medium;
  }

  @include md {
    font-size: $font-size-medium;
    padding: 12px 10px;
    min-height: 50px;
    max-height: 50px;
  }

  @include sm {
    padding: 4px 10px;
    min-height: 40px;
    max-height: 40px;
    font-size: $font-size-xs;
  }

  &:hover {
    background-color: $black-color;
  }

  &:active {
    background-color: $gray-color-2;
  }

  &:disabled {
    background-color: $orange-color-2;
  }

  .circle {
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-top: -7px;
    color: $white-color;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 1s linear infinite;

    &.small {
      height: 25px;
      width: 25px;
      margin-top: 0px;
      border: 3px solid;
      border-top-color: transparent;

      @include sm {
        height: 15px;
        width: 15px;
      }
    }

    &.medium {
    }
    &.big {
    }

    @include md {
      height: 35px;
      width: 35px;
      margin-top: -5px;
    }

    @include sm {
      height: 25px;
      width: 25px;
      margin-top: 0px;
      border: 4px solid;
      border-top-color: transparent;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
