@import '../../scss/index.custom';

.amount {
  font-family: $font-accent;
  font-size: $font-size-huge;
  color: $gray-color;
  vertical-align: middle;

  @include md {
    font-size: $font-size-medium;
  }

  @include sm {
    font-size: $font-size-small;
  }
}

.symbol {
  display: inline-block;
  transform: translateY(-5px);
}
